body {
    display: block;
    background-color: rgb(140, 198, 249);
    margin: 20px;
    margin-top: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px; 
}
.box{
    background-color: rgb(215, 213, 210);
    width: 40%;
    height: auto;
    margin: auto;
    border-radius:5px;
}
.calc{
    display:grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    width:85%; 
    height:auto;
    margin:auto;
    padding:20px;
    
   
}
.display-box {
    grid-column: span 4;
    font-family:  sans-serif;
    background-color: #dcdbe1;
    font-size:30px;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 70px;
    }
#btn {
  background-color: #fb8200;
  cursor: pointer;
     }
#btn:active{
        transform: translateY(4px);

     }
    
.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10,.box11,.box12,.box13,.box14,.box15,.box16,.box17,.box18,.box19,.box20{
    grid-column:span 1;
    color:white;
    font-size:30px;
    padding:5px;
    background-color: rgb(100, 99, 94);
    text-align: center;
    width: 100%;
    height: 70px;
    border: solid black 0.5px;
    border-radius: 5px;
   
}




